<div class="container">
    <div class="form-container">
        <div>Info
            <form class="info-form">
                <mat-card class="infocard">
                    <mat-form-field class="info">
                        <mat-label>Job's name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-card>
            </form>

        </div>
        <div>Image Processing Basics
            <form class="img-proc-form">
                <mat-card class="img-proc-card">
                    <mat-form-field class="img-proc">
                        <mat-label>Channel</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let chnl of channels" [value]="chnl">
                                {{chnl}}[]
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="img-proc">
                        <mat-label>Spectrum</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let spect of spec" [value]="spect">
                                {{spect}}[]
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="img-proc">
                        <mat-label>Gain Calibration</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let gc of gainCalibration" [value]="gc">
                                {{gc}}[]
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="img-proc">
                        <mat-label>Image Coordinate</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let img of imgcoord" [value]="img">
                                {{img}}[]
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="img-proc">
                        <mat-label>Time-Delay Option</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let tdo of timedelay" [value]="tdo">
                                {{tdo}}[]
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </form>
        </div>
        <div>
            <p class="frqrng">Frequency Range</p>

            <form class="frq-form">
                <mat-card class="frqcard">
                    <mat-form-field class="frq">
                        <mat-label>Frequency Range Preset</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let frq of frqs" [value]="frq">
                                {{frq}}[]
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="frq">
                        <mat-label>Min Frequency (MHz)</mat-label>
                        <input matInput placeholder="Ex. x Hz">
                    </mat-form-field>
                    <mat-form-field class="frq">
                        <mat-label>Max Frequency (MHz)</mat-label>
                        <input matInput placeholder="Ex. x Hz">
                    </mat-form-field>
                </mat-card>
                <mat-card class="skipfrqcard">
                    <section>
                        <mat-checkbox formControlName="skipFrequency" class="skipfrqs">Skip Frequencies</mat-checkbox>
                    </section>
                    <mat-form-field class="skipfrq">
                        <mat-label>Min Skip Frequency (MHz)</mat-label>
                        <input formControlName="minFrequencySkip" matInput placeholder="Ex. x Hz" [disabled]="isSkipFreq">
                    </mat-form-field>
                    <mat-form-field class="skipfrq">
                        <mat-label>Max Skip Frequency (MHz)</mat-label>
                        <input formControlName="maxFrequencySkip" matInput placeholder="Ex. x Hz" [disabled]="isSkipFreq">
                    </mat-form-field>
                </mat-card>
            </form>
        </div>
        <div>
            Contaminant Cleaning and Surface Modeling Details
            <mat-form-field class="">
                <mat-label>1D Background Subtraction Scale</mat-label>
                <input matInput placeholder="Enter in">
              </mat-form-field>

        </div>
    </div>
    <div class="form-container">
        <div>File Upload</div>
        <div>Uploaded File View and Selection</div>
        <div>Job Submission and Selection</div>
    </div>
</div>