<div class="container">
    <div class="form-container">
        <div>Info</div>
        <div>Image Processing Basics</div>
        <div>
            <p class="frqrng">Frequency Range</p>

            <form class="frq-form">
                <mat-card class="frqcard">
                    <mat-form-field class="frq">
                        <mat-label>Frequency Range Preset</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let frq of frqs" [value]="frq">
                                {{frq}}[]
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="frq">
                        <mat-label>Min Frequency (MHz)</mat-label>
                        <input matInput placeholder="Ex. x Hz">
                    </mat-form-field>
                    <mat-form-field class="frq">
                        <mat-label>Max Frequency (MHz)</mat-label>
                        <input matInput placeholder="Ex. x Hz">
                    </mat-form-field>
                </mat-card>
                <mat-card class="skipfrqcard">
                    <section>
                        <mat-checkbox formControlName="skipFrequency" class="skipfrqs">Skip Frequencies</mat-checkbox>
                    </section>
                    <mat-form-field class="skipfrq">
                        <mat-label>Min Skip Frequency (MHz)</mat-label>
                        <input formControlName="minFrequencySkip" matInput placeholder="Ex. x Hz" [disabled]="isSkipFreq">
                    </mat-form-field>
                    <mat-form-field class="skipfrq">
                        <mat-label>Max Skip Frequency (MHz)</mat-label>
                        <input formControlName="maxFrequencySkip" matInput placeholder="Ex. x Hz" [disabled]="isSkipFreq">
                    </mat-form-field>
                </mat-card>
            </form>
        </div>
        <div>
            Contaminant Cleaning and Surface Modeling Details
            <mat-form-field class="">
                <mat-label>1D Background Subtraction Scale</mat-label>
                <input matInput placeholder="Enter in">
              </mat-form-field>

        </div>
    </div>
    <div class="form-container">
        <div>File Upload</div>
        <div>Uploaded File View and Selection</div>
        <div>Job Submission and Selection</div>
    </div>
</div>