<div class="home-container">

  <h1>
    Astromancer: <i>Next Generation Data Analysis Tool for Astronomy Education</i>
  </h1>
  <h2><b>Pick a Tool to Start!</b></h2>

  <div class="row tool-container">
    <div class="col-6">
      <div [routerLink]="'/curve'" class="tile-container">
        <mat-card class="tile">
          <mat-card-header>
            <mat-card-title>Curve</mat-card-title>
            <mat-card-subtitle>OPIS!</mat-card-subtitle>
          </mat-card-header>
          <div class="chart-preview">
            <app-curve-highchart></app-curve-highchart>
          </div>
          <mat-card-content>
            <p>
              It just makes curves :D (with x and y variables!) 
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-6">
      <div [routerLink]="'/moon'" class="tile-container">
        <mat-card class="tile">
          <mat-card-header>
            <mat-card-title>Moon</mat-card-title>
            <mat-card-subtitle>OPIS!</mat-card-subtitle>
          </mat-card-header>
          <div class="chart-preview">
            <app-moon-highchart></app-moon-highchart>
          </div>
          <mat-card-content>
            <p>
              The Moon plotting tool helps you plot the angular separation against the Julian date and allows you to calibrate key orbital parameters, like the semi-major axis (a), the orbital period (P), and the phase and tilt of the orbit, which helps ensure that your model closely aligns with the observed data.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="row tool-container">
    <div class="col-6">
      <div [routerLink]="'/venus'" class="tile-container">
        <mat-card class="tile">
          <mat-card-header>
            <mat-card-title>Venus</mat-card-title>
            <mat-card-subtitle>OPIS!</mat-card-subtitle>
          </mat-card-header>
          <div class="chart-preview">
            <app-venus-highchart></app-venus-highchart>
          </div>
          <mat-card-content>
            <p>
              The Venus tool plots the phase of Venus against its angular diameter which can help us differentiate between geocentric and heliocentric models. Input observed data to compare predicted phase-diameter curves, which visually confirm Venus’s orbit and support the heliocentric model. Save graphs for analysis and interpretation.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-6">
      <div [routerLink]="'/variable'" class="tile-container">
        <mat-card class="tile">
          <mat-card-header>
            <mat-card-title>Variable</mat-card-title>
            <mat-card-subtitle>OPIS!</mat-card-subtitle>
          </mat-card-header>
          <div class="chart-preview">
            <app-variable-light-curve-highchart></app-variable-light-curve-highchart>
          </div>
          <mat-card-content>
            <p>
              The variable tool analyzes variable stars by plotting light curves, estimating the periods with the help of periodograms, and refining periods through period folding! Upload your CSV data to help visualize apparent magnitude variations, identify the period, and align the light curve into cycles.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="row tool-container">
    <div class="col-6">
      <div [routerLink]="'/scatter'" class="tile-container">
        <mat-card class="tile">
          <mat-card-header>
            <mat-card-title>Scatter</mat-card-title>
            <mat-card-subtitle>OPIS!</mat-card-subtitle>
          </mat-card-header>
          <div class="chart-preview">
            <app-scatter-highchart></app-scatter-highchart>
          </div>
          <mat-card-content>
            <p>
              The scatter tool helps you to create top-down maps of globular clusters, visualizing their positions relative to the Sun (at the origin). Input your globular cluster data, adjust distance and diameter, and plot their distribution to generate a map of their layout in our galaxy! 
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-6">
      <div [routerLink]="'/spectrum'" class="tile-container">
        <mat-card class="tile">
          <mat-card-header>
            <mat-card-title>Spectrum</mat-card-title>
            <mat-card-subtitle>OPIS!</mat-card-subtitle>
          </mat-card-header>
          <div class="chart-preview">
            <app-spectrum-highchart></app-spectrum-highchart>
          </div>
          <mat-card-content>
            <p>
              The spectrum tool graphs radio spectra from the 20m radio telescope at Green Bank Observatory. This helps you estimate the observed wavelength of the most redshifted region along the line of sight. You can upload data, visualize wavelength channels, and measure redshift to study our galaxy's rotation curve!
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="row tool-container">
    <div class="col-6">
      <div [routerLink]="'/dual'" class="tile-container">
        <mat-card class="tile">
          <mat-card-header>
            <mat-card-title>Dual</mat-card-title>
            <mat-card-subtitle>OPIS!</mat-card-subtitle>
          </mat-card-header>
          <div class="chart-preview">
            <app-dual-highchart></app-dual-highchart>
          </div>
          <mat-card-content>
            <p>
              The dual tool on the Astronomer website allows comparison of two datasets by overlaying their graphs. Input X and Y data for each dataset to visualize differences and trends. This tool is very cool for analyzing variations, such as comparing constant and decelerating universe models, by plotting them together on the same graph.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-6">
      <div [routerLink]="'/rc'" class="tile-container">
        <mat-card class="tile">
          <mat-card-header>
            <mat-card-title>Radio Cartographer!</mat-card-title>
            <mat-card-subtitle>MWU!</mat-card-subtitle>
          </mat-card-header>
          <div class="radio-preview">
            Radio Cartographer Preview Here!
          </div>
          <mat-card-content>
            <p>
              This tool helps you process your data from your Skynet Radio observations.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="row tool-container">
    <div class="tile-container center-vertical">
      <h1>More tools for MWU! are on the way!</h1>
    </div>
  </div>

</div>
